<<<<<<< HEAD
.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(23 23 51 / 96%);
    color: white;
  }
  h2{
    margin-top: 20px;
  }
  .projects .projectTitle {
    text-align: center;
    background-color: white;
    font-size: 60px;
    font-weight: bolder;
    
  }
  
  .projectList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-right: 60px;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--dark-orange);
  }
  .projectItem:hover {
    box-shadow: 2px 3px 15px rgba(255, 252, 252, 0.5);
    transform: scale(1.2);
    transition: 0.3s ease-in;
    border: 1px black solid;
    cursor: pointer;
    background-color: white;
    color: rgb(23 23 51 / 96%);
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectItem h1 {
    font-size: 25px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 300px;
      height: 300px;
    }
=======
.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(23 23 51 / 96%);
    color: white;
  }
  h2{
    margin-top: 20px;
  }
  .projects .projectTitle {
    text-align: center;
    background-color: white;
    font-size: 60px;
    font-weight: bolder;
    
  }
  
  .projectList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-right: 60px;
  }
  
  /* MENU ITEM STYLING */
  
  .projectItem {
    border-radius: 15px;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--dark-orange);
  }
  .projectItem:hover {
    box-shadow: 2px 3px 15px rgba(255, 252, 252, 0.5);
    transform: scale(1.2);
    transition: 0.3s ease-in;
    border: 1px black solid;
    cursor: pointer;
    background-color: white;
    color: rgb(23 23 51 / 96%);
  }
  
  .projectItem .bgImage {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .projectItem h1 {
    font-size: 25px;
    margin-top: 10px;
  }
  
  @media only screen and (max-width: 1300px) {
    .projectList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .projectList {
      width: 100%;
    }
    .projectItem {
      width: 300px;
      height: 300px;
    }
>>>>>>> b4a6f63830a956d2b52b8a83bbd8117089997b54
  }